.myaccount_container{
    display: grid;
    gap:10px;
}
.myaccount_spiner{
    max-width: 1170px;
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
    margin-left: auto;
    margin-right: auto;
}
.myaccount_fillpew{
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.375rem; /* 6px */
}
.myaccount_items{
    display:flex;
    align-items: center;
    justify-content: center;
}
.myaccount_img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border:2px solid rgb(61, 61, 219);
}
.myaccount_score{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.myaccount_capt{
    text-align: center;
    margin-top: 1rem; /* 16px */
}
.name_hash{
    font-size: 18px;
    line-height: 30px;
    color:black;
    font-weight: bold;
}
.emailcast{
    color:rgb(133, 133, 3);
    font-size: 15px;
    line-height:24px;
    font-weight: 500;
}
.blood_type{
    margin-left: 8px;
    color:black;
    font-size: 22px;
    line-height: 32px;
}
.myaccount_profile{
    margin-top: 50px;
}
.myaccount_malisa{
    width: 100%;
    background-color: #6a768f;
    font-size: 16px;
    border-radius: 0.375rem; /* 6px */
    line-height: 28px; /* 28px */
    padding: 0.75rem; /* 12px */
    color:aliceblue;
}
.myaccount_kepper{
    width: 100%;
    background-color: #e21616;
    font-size: 16px;
    border-radius: 0.375rem; /* 6px */
    line-height: 28px; /* 28px */
    padding: 0.75rem; /* 12px */
    margin-top: 25px;
    color:aliceblue;
}
.mybooking_form{
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */ 
    padding: 0.5rem; /* 8px */
    margin-right: 1.25rem; /* 20px */
    color:black;
    font-weight: bold;
    font-size: 16px;
    border: solid rgb(75, 75, 219);
    border-radius: 6px;
}
.empty_form{
    color:wheat;
    font-weight: 500;
    background-color: rgb(29, 90, 221);
}
.booking_appointment{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 5px;
}
.text_booking{
    text-align: center;
    line-height: 1.75rem; /* 28px */
    font-weight: bold;
    font-size: 20px;
    margin-top: 1.25rem; /* 20px */
}
@media (min-width: 480px) {
  

}
 /* Thay đổi kích thước chữ khi màn hình rộng >= 768px (md) */
@media (min-width: 768px) {
    .myaccount_container{
        grid-template-columns:repeat(3, minmax(0, 1fr));
    }  
    .myaccount_profile{
        margin-top: 100px;
    }
    .booking_ellipis{
        grid-column: span 2 / span 2; 
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Thay đổi hướng flex khi màn hình rộng >= 1024px (lg) */
@media (min-width: 1024px) {
    .booking_appointment{
      
        grid-template-columns: repeat(2, minmax(0, 2fr));
    
    }
}
/* Đặt chiều cao khi màn hình rộng >= 1536px (2xl) */
@media (min-width: 1536px) {
    
}

